form {
  padding: 5px;
  border-radius: 5px;
  font-size: 30px;
  margin-bottom: 75px;
}

input {
  font-size: 20px;
}

button {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

p {
  font-size: 30px;
}

option {
  font-size: 20px;
  margin-top: 10px;
}

option {
  font-size: 20px;
}

body {
  background-image: url("https://i.imgur.com/QsCfdW9.jpg");
  background-color: #cccccc;
 }